<div class="container-fluid" id="welcome" ng-controller="WelcomeCtrl">
    <div class="row">
        <div class="col-xs-12 text-right" style="padding-left: 0px; padding-right: 0px; background-image: url(image/bghead.png); background-position: left; background-repeat: no-repeat; ">
            <h1 class="vtop" translate>GREETINGS</h1>
        </div>
        <div class="col-xs-12 text-right">
            <h1 style="margin-top: 0; margin-bottom: 0;"><small translate>TAGLINE</small></h1>
        </div>
    </div>
    <hr />
    <div class="row">
    <h3 class="text-center" translate>SCOREBOARD</h3>
    <table class="col-xs-12 table-bordered">
        <tr>
            <th translate>NAME</th>
            <th translate>SCORE</th>
        </tr>

        <tr ng-repeat="score in scores">
            <td>{{ score.user.name }}</td>
            <td>{{ score.score }}</td>
        </tr>
    </table>
    </div>
    <hr />

    <div class="row clearfix"">
        <div class="col-xs-12">
            <h4 class="text-left" style="color: green;"><strong translate>HOWTOTITLE</strong></h4>
        </div>
        <div class="col-xs-12">
            <ul style="line-height: 30px;">
                <li translate>STEP1</li>
                <li translate>STEP2</li>
                <li translate>STEP3</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row" style="height: 100px; vertical-align: middle;">
        <div class="col-xs-12 col-md-12 text-center" style="padding-top: 10px;">
            <label class="radio-inline" ng-repeat="(key, value) in levels" for="{{key}}"><input type="radio" ng-click="setLevel(key)" ng-model="difficulty" name="level" id="{{key}}" ng-value="value" value="{{key}}">{{value}}</label>
        </div>
        <div class="col-xs-12 text-center" style="padding-top: 10px;">
            <button class="btn btn-primary btn-lg startButton" ng-click="game()" translate analytics-on="click" analytics-event="gameStart">START</button>
        </div>
    </div>
    <hr />
</div>
