<div class="container-fluid" id="welcome" ng-controller="SelectionCtrl">
    <div class="row">
        <div class="col-xs-12 text-right" style="padding-left: 0px; padding-right: 0px; background-image: url(image/bghead.png); background-position: left; background-repeat: no-repeat; ">
            <h1 class="vtop">Select Game Pack</h1>
            <h4>{{getMyLastName()}}</h4>
        </div>
    </div>
    <hr />
    <div class="row" style="height: 100px; vertical-align: middle;">
        <div class="col-xs-12 text-center" ng-repeat="(key, value) in packs" style="padding-top: 10px;">
            <button class="btn btn-primary btn-lg startButton" ng-click="setPack(value.locale)" analytics-on="click" analytics-event="gameStart">{{value.name}}<br/><small>{{value.localName}}</small></button>
        </div>
    </div>

    <video id="example_video_1" class="video-js vjs-default-skin"
           preload="auto" width="640" height="264"
           poster="http://vjs.zencdn.net/v/oceans.png"
           data-setup='{
      "plugins": {
      "vastClient": {
        "adTagUrl": "//ssd.appprizes.com/foobar/foobar/foobar/foobar/fc.php?script=apVideo:vast2&foo=1631",",
        "adCancelTimeout": 5000,
        "adsEnabled": true,
        "playAdAlways": true
        }
      }
    }'>
        <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'/>
        <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'/>
        <source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>

    <hr />
    <button ng-click="playAd()">Play</button>


</div>